*{
    padding:0px;
    margin:0px;
}

.row, .container, .container-fluid{
    margin-top:0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 0px;
    padding-top:0px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom: 0px;   
}

.container{
    margin:auto;
}

/*This pattern is downloaded from www.subtlepatterns.com If you need more, that's where to get'em.*/
body{
    background-image: url(../images/backgrounds/pink_rice.png);
    padding-bottom: 50px;
}



/*The Navigation*/














































































